*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
   
   
}
body{
   margin:1.5%;
   background-color: #eae6e0;
}
html {
    scroll-behavior: smooth;
  }
 
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;   
  }
#hrr{
    margin: 5px 2vw;
    color: #FF7124;
    
}
.navbar{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5vh;
    padding: 0px 2% ;
    flex-wrap: wrap;
   
}


.home{
    
    display: flex;
    gap: 5vh;
   
}
.navbar a{
    text-decoration: none;
    padding: 0px 0px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor:pointer;
    color: #1c1c1c;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'New Title', serif;
    font-size: 2rem;
}
.navbar a:hover{
    background-color: #b0a6df;
}
a:active{
    color: #B0A6DF;
}
@media (max-width: 768px){
    .navbar{
        /* flex-direction: column; */
        align-items: flex-start;
        height: auto;
    }
    .logo{
        font-size: 5vw;

    }
    .home{
        
        gap: 3vh;
        font-size: 1rem;
        
    }
.navbar a{
  
    font-size: 1.5rem;
   
    
}
   
}
.HEROPAGE{
    background-color: #FFFFE3;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}
.bg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-image: url('img4.jpg');
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,.5)), url('img4.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.HEROPAGE h1{
    position: absolute; 
    color: #B0A6DF;
    font-size: 10vw;
    font-weight: 100;
    top: 2%;
    left: 3%;
    font-family: 'Panchang', sans-serif;
    font-weight: 800;
    z-index: 1;
}
.HEROPAGE h2{
    font-family: 'Clash Display', sans-serif;
    font-weight: 50;
    position: absolute;
    color: #1c1c1c;
    font-size: 2vw;
    left: 4vw;
    top: 44%;
}

.HEROPAGE h3{
    font-family: 'Clash Display', sans-serif;
    font-weight: 50;
    position: absolute;
    color: #1c1c1c;
    font-size: 4vw;
    left: 3vw;
    top: 48%;
}
.HEROPAGE h4{
    position: absolute;
    color: #282828;
    font-size: 1.5em;
    left: 3vw;
    top: 73%;
    font-family: 'Clash Display', sans-serif;
    font-weight: 50;
}

.HEROPAGE p{
    position: absolute;
    color: #282828;
    font-size: 1.5rem;
    left: 3vw;
   top: 80%;
   font-family: 'Clash Display', sans-serif;
    font-weight: 50;
}
@media (max-width:768px){
    .HEROPAGE {
        background-size: cover;
        min-height: auto;          
    }
    .HEROPAGE h1{
        top: 25%;
       font-size: 10vw;        
    }
    .HEROPAGE h2{
        top: 50%;
        font-size: 3vw;     
    } 
    .HEROPAGE h3{
        top: 55%;
        font-size: 5vw;     
    }
    .HEROPAGE h4{

        font-size: 5vw;     
    }
    .HEROPAGE p{

        font-size: 4vw;     
    }
    



    
   
}
 .ABOUT{
    margin-top: 10px;
    background-color:#eae6e0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh; 
    overflow: hidden;
    position: relative;
}
.leftbox{
    height: 70vh;
    flex: 1;
    display: flex; 
    left: 10%;
    margin-left: 10%;  
}
.leftbox img{
    max-width: 100%;
    height: auto;
    object-fit: cover;  
}
.rightbox{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.t2 {
    font-size: 1.5rem;
    font-family: "Poiret One", sans-serif;
    padding: 2vw;
}
.t2 p1{
    font-size: 2em;
    font-family: "Poiret One", sans-serif;
}
h6{
    position: absolute;
    color: #ffba00;
    font-size: 2vw;
    left: 1vw;
    bottom: 2vh;
}
.t0{
    
    position: absolute;
    top: 5%;
    right: 23%;
    font-size: 8vw; 
    font-family: 'Melodrama', serif;
    color: #193497;
    font-weight: 500;
    z-index: 2;
}
.t{
    position: absolute;
    top: 14%;
    font-size: 3vw;
    writing-mode: vertical-rl;
    transform: rotate(180deg); 
    right: 18%;
    font-family: 'Melodrama', serif;
    color: #193497;
    font-weight: 500;
    z-index: 2;
}

@media (max-width: 768px){
    .ABOUT{
        flex-direction: column;
        height: auto;
        text-align: center;
    }
  .leftbox {
    width: 80%;
    margin: 0px;
    height: auto;
    border-radius: 16px;
    margin-top: 20%;
  }
   .t0{
            top: 0%;
            left: 0%;
            font-size: 18vw;
           
   }
   .t{
    top: 3%;
    right: 28%;
    font-size: 8vw;
  
   }
   .t2{
    font-size: 1rem;
   }
  
} 

.RESUME{
    margin-top: 10px;
    height: 200vh;
    background-color: #faf0ca;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
   
}
.t3{
    flex: 1;
    position: absolute; 
    right: 8%;
    font-family: 'Melodrama', serif;
    font-weight: 500;
    font-size: 13vw;
    color: #0d3b66;
}
.t3o{
    flex: 1;
    position: absolute;
    top: 0%;
    right: 3%;
    font-size: 4vw;
    writing-mode: vertical-rl; 
    transform: rotate(180deg); 
    font-family: 'Melodrama', serif;
    font-weight: 300;
    color: #0d3b66;
}
.skillbox{
    padding: 10px;
  
    display: grid;
    gap: 10px;
   grid-template-areas: "edu edu txt txt"
                        "dev dev ts ts"
                        "dev dev ts ts"
                        "dev dev lang lang"
                        "des des hob hob";
   
    width: 100%;

}

.cards{
   
    padding: 12px;
    width: 47vw ;
    grid-template-columns: 45vw;
   
}
.card1{
      display: flex;
      grid-area: edu; 
      position: relative;  
      flex: 1;
}
.card1 p{
    flex: 1;
    top: 20%;
    left: 3%;
    position: absolute;
    font-family: 'Boxing', sans-serif;
    font-size:4vw;
    color: #fe7f2d;
}
.card1 #pre0{
    top: 50%;
    left: 3%;
    position: absolute;
    font-size:1vw;
   
}
.card1 pre{
    top: 70%;
    left: 3%;
    position: absolute;
    font-size:1vw;
    font-family: 'Author', serif;
    color: #1c1c1c;
}
.card2{
  
   grid-area: txt; 
   flex: 1;
}
.card3{
   
    position: relative;
    grid-area: ts;    
}
.download p{
    position: absolute;
    font-size: 5vw;
    font-family: 'Boxing', sans-serif;
    color: #ffba00;
    top: 5%;
} .download p1{
    position: absolute;
    font-size: 2.5vw;
    font-family: 'Author', serif;
    color: #1c1c1c;
    top: 35%;
} .download button{
    margin-top: 20px;
    appearance: none;
    border: none;
    border-radius: 4px;
    background-color: #0d3b66; 
    box-shadow: -3.54px -3.53px 5px rgba(0,0,0,0.2), 
    3.54px 3.53px 5px rgba(255,255,255,0.8);
    cursor: pointer;
    transition: 0.1s ease;
    padding: 0.5em 1em;
    font-size: 1.3rem;
    position: absolute;
    color: #eae6e0;
    font-family: 'Author', serif;
    top: 40%;
    
}
.download button:active{
    box-shadow: 3.54px 3.53px 5px rgba(0,0,0,0.2), 
     -3.54px -3.53px 5px rgba(255,255,255,0.8);
    inset: 2px 2px 6px #0008;
    translate: 2px 2px;
}
.download button:hover{
   color: #ffba00;
}

.card4{
    background-color: #efe1d5;
    grid-area: dev; 
    position: relative;   
}
.card4 p{
    position: absolute;
    top: 5%;
    left: 0%;
    font-family: 'Boxing', sans-serif;
    font-size: 5vw;
    color: #2e0d14;
    flex: 1;
}
.card4 p1{
       
    color: #2e0d14;
        font-size: 2.5vw;
        font-family: 'New Title', serif;
        font-weight: 700;
}
.card4 p2{
    
        font-family: 'Author', serif;
        font-size: 2rem;
}
.card4 p0{
    position: absolute;
    top: 28%;
}
.card4 p01{
    position: absolute;
    top: 40%;
}
.card4 p02{
    position: absolute;
    top: 50%;
}
.card4 p03{
    position: absolute;
    top: 60%;
}
.card4 p04{
    position: absolute;
    top: 70%;
}
.card4 p05{
    position: absolute;
    top: 80%;
}

.card5{

    grid-area: lang; 
    position: relative;  
}
.card5 p{
    position: absolute;
    top: 0%;
    left: 5%;
    font-family: 'Boxing', sans-serif;
    font-size: 5vw;
    color: #fe7f2d;
}
.card5 p1{
    position: absolute;
    top: 25%;
    left: 7%;
    font-family: 'New Title', serif;
    font-weight: 800;
    font-size: 4vw;
    color: #1c1c1c;
}
.card5 p2{
    position: absolute;
    top: 45%;
    left: 7%;
    font-family: 'New Title', serif;
    font-weight: 800;
    font-size: 4vw;
    color: #1c1c1c;
}
.h5 p01,p02{
    font-family: 'New Title', serif; 
    font-weight: 200;
    font-size: 2vw;
    color: #1c1c1c;
}
.card6{
  
    grid-area: des; 
    flex: 1; 
    position: relative;
    background-color: #f4f8f9; 
}
.h6{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    
}
.h6 h1{
    position: absolute;
    top: 0%;
    left: 5%;
    font-size: 3vw;
    font-family: 'Boxing', sans-serif;
  color:  #1c3934; 

}
.h6 p{
    position: absolute;
    top: 20%;
    padding: 2%;
    font-size: 2rem;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    color:  #1c3934; 
    
  
}
.h7{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card7{
   
    grid-area: hob; 
    flex: 1;
    position: relative;
   
}
.card7 p{
    position: absolute;
    top: 0%;
    left: 5%;
    font-family: 'Boxing', sans-serif;
    font-size: 4vw;
    color: #ffba00;
  
}
.music-container {
    perspective: 1000%;
    width: 10vw;
    height: 10vh;
    position: absolute;
    bottom: 40%;
    left: 2%;
    font-family: Amatic SC;
  } 
  .music {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  .music-container:hover .music {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eae6e0;
    border-radius: 10px;
    box-shadow: -3.54px -3.53px 5px rgba(0,0,0,0.2),  3.54px 3.53px 5px rgba(255,255,255,0.8);
  }
  
  .card-front {
   
    font-size: 2vw;
  }
  
  .card-back {
   
    color: #ffba00;
    font-size: 1vw;
    padding-left: 10px;
    transform: rotateY(180deg);
  }
  .plant-container {
    perspective: 1000%;
    width: 10vw;
    height: 10vh;
    position: absolute;
    bottom: 40%;
    left: 28%;
    font-family: Amatic SC;
  } 
  .plant {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  .plant-container:hover .plant {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: #eae6e0;
    border-radius: 10px;
    box-shadow: -3.54px -3.53px 5px rgba(0,0,0,0.2),  3.54px 3.53px 5px rgba(255,255,255,0.8);
  }
  
  .card-front {
   
    font-size: 2vw;
  }
  
  .card-back {
   
    color: #ffba00;
    font-size: 1vw;
    padding-left: 10px;
    transform: rotateY(180deg);
  }
   
  .art-container {
    perspective: 1000%;
    width: 10vw;
    height: 10vh;
    position: absolute;
    bottom: 40%;
    left: 53%;
    font-family: Amatic SC;
  } 
  .art {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  .art-container:hover .art {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;    
    color: #eae6e0;
    border-radius: 10px;
    box-shadow: -3.54px -3.53px 5px rgba(0,0,0,0.2),  3.54px 3.53px 5px rgba(255,255,255,0.8);
  }
  
  .card-front {
   
    font-size: 2vw;
  }
  
  .card-back {
   
    color: #fe7f2d;
    font-size: 1vw;
    padding-left: 10px;
    transform: rotateY(180deg);
  }
   
  .pet-container {
    perspective: 1000%;
    width: 10vw;
    height: 10vh;
    position: absolute;
    bottom: 40%;
    left: 78%;
    font-family: Amatic SC;
  } 
  .pet {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  .pet-container:hover .pet {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #eae6e0;
    border-radius: 10px;
    box-shadow: -3.54px -3.53px 5px rgba(0,0,0,0.2),  3.54px 3.53px 5px rgba(255,255,255,0.8);
  }
  
  .card-front {
    background-color: #0d3b66; 
    font-size: 2vw;
  }
  
  .card-back {
    background-color: #0d3b66; 
    color: #ffba00;
    font-size: 1vw;
    padding-left: 10px;
    transform: rotateY(180deg);
  }
.card-back{
    color:#e6cfa7;
    font-family: Bebas Neue;
}
@media (max-width:786px){
    .download p{
        top: 5%;
    } .download p1{
        top: 18%;
        font-size: 5vw;
    } .download button{
        top: 28%;
        font-size: 3vw;
    }

    .card4 p{
        top: 3%;
        left: 3%;
    }
    .card4 p1{
        font-size: 5vw;
    } .card4 p2{
        font-size: 3vw;
    }
    .card4 p0{
        position: absolute;
        top: 12%;
    }
    .card4 p01{
        position: absolute;
        top: 25%;
    }
    .card4 p02{
        position: absolute;
        top: 35%;
    }
    .card4 p03{
        position: absolute;
        top: 45%;
    }
    .card4 p04{
        position: absolute;
        top: 55%;
    }
    .card4 p05{
        position: absolute;
        top: 65%;
    }
    
    .card5 p{
        top:0%;
    }
    .card5 p1{
        font-size: 8vw; 
        top: 10%;   
    }
    .card5 p2{
        font-size:8vw;
        top: 23%;   
    }
    .card5 p01{
        font-size: 5vw;    
    }
    .card5 p02{
        font-size: 5vw;
    }
    .h6 h1{
        font-size: 5vw;
        top: 5%;
    }
    .h6 p{
        top: 25%;
        font-size: 3.5vw;
       padding: 0%;
        
    }
 .card7 p{
    top: 5%;
    font-size: 5vw;
 }
    .art-container,.music-container,.pet-container,.plant-container{
        width: 20vw;   
    }
    .card-front{
        font-size: 5vw;
    }
    .card-back{
        font-size: 2.5vw;
    }
    .music-container{
        top: 30%;
        left: 2%; 
    }
    .art-container{
        top: 30%;
        left: 50%;
    }
    .plant-container{
        top: 65%;
        left: 2%;
    }
    .pet-container{
        top: 65%;
        left: 50%;
    }
  .h1 p{
    top: 40%;
  }  
 .card1 pre{
       font-size: 3vw;
       right: -30%;
 }
 .card1 #pre0{
    font-size: 3vw;
    right: -40%;
}
.t3{
    top: 3%;
}  .t3o{
    top: 4%;
    right: 1%;
    font-size: 5vw;
}
}
.WORK{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eae6e0;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.t4{
    position: absolute;
    font-family: 'Melodrama', serif;
   font-size: 12vw;
   top: 2%;
   left: 2%;
}
.t5{
    position: absolute;
    font-family: 'New Title', serif;
   font-size: 10vw;
   top: 25%;
   right: 5%;
}
.CONNECT{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cbdca8;
    height: 80vh;
    overflow: hidden;
    position: relative;
}
.t6{
    position: absolute;
    color: #192525;
    font-size: 10vw;
    top: 0%;
    right: 5%;
    font-family: 'Melodrama', serif;
    font-weight: 800;
}
.t6o{
    position: absolute;
    color: #192525;
    font-size: 3vw;
    top: 11%;
    right: 0%;
    writing-mode: vertical-lr;
    font-family: 'Melodrama', serif;
}

.CONNECT hr{
    color: #192525;
}
#h5{
    color: #192525;
    position: absolute;
    width: 100vw;
    bottom: 7%;
}
#hr1{
   
    position: absolute;
    width: 100vw;
    top: 5%;
}

#hr3{
    position: absolute;
    width: 100vw;
    bottom: 15%;
}
.contact{
    flex: 1; 
    display: flex;
    gap: 5vh;
    position: absolute;
    right: 2vw;
    bottom: 7.5vh;

}
.contact a{
    color: #192525;
    text-decoration: none;
   font-size: 1.5rem;
}
.contact a:hover{
    color: #0d3b66;
    
}
.msg,.t7,.t6o{
    -webkit-user-select: none; 
    -moz-user-select: none;   
    -ms-user-select: none;    
    user-select: none; 
}
.msg{
    flex: 1; 
    width: 20vw; 
    height: 20vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10vw;
    top: 20%;
    color: #192525;
   
}
.msg form{
    font-size: 1.5vw;
    font-family: "Poiret One", sans-serif;
}
.msg input{
  margin-bottom: 2vh;
}
.underline-input {
    border: none;
    border-bottom: 1px solid #192525;;
    outline: none;
    background: transparent;
    font-size: 1rem;
   
  }
  .underline-input::placeholder {
    color: transparent;
  }
  .underline-input:hover::placeholder {
    color: #3d358b;
  }
  .underline-input:hover{
    border-bottom: 1px solid #3d358b;;
  }
  .boton{
    margin-top: 20px;
    appearance: none;
    border: 1px solid;
    border-radius: 4px;
    background-color: #192525;
    box-shadow: 2px 2px 0px black;
    cursor: pointer;
    color: #e6cfa7;
    transition: 0.1s ease;
    padding: 0.5em 1em;
    font-size: 1.3vw;
    font-family: "Poiret One", sans-serif;
  }
.boton:active{
    box-shadow: -2px -2px 0px 2px black;
    inset: 2px 2px 6px #0008;
    translate: 2px 2px;
}
.boton p:hover{
   color: #b0a6df;
  
}
.t7{
    position: absolute;
    font-size: 1.5vw;
    bottom: 0.5%;
    left: 35vw;
    font-family: 'Ranade', sans-serif;
   
}
.t7 a{
    text-decoration: none;
    color: #0d3b66;
}
@media (max-width:768px) {
    .t6{
        top: 5%;
        right: 7%;
    }
    .t6o{
        top: 7%;
        font-size: 5vw;
      
    }
    .msg form{
        font-size: 3vw;
    }
    .boton{
        font-size: 3vw;
    }
    #hr1{
        top: 2%;
    }
    #h5{
       bottom: 5%;
    }
    #hr3{
        bottom: 13%;
     }
     .contact a{
        font-size: 3vw;
     }
     .contact{
        bottom: 8%;
     }
   .t7{
    left: 25%;
    font-size: 3vw;
   }
}
